In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Round

In [3]:
a = 1234567
round(a, -1)
round(a, -2)
round(a, -3)

1234570

1234600

1235000

# Decimal
* 정확한 10진수 계산

In [4]:
a = 4.2
b = 2.1
a + b
(a+b) == 6.3

6.300000000000001

False

In [5]:
from decimal import Decimal

In [7]:
a = Decimal('4.2')
b = Decimal('2.1')
a + b

Decimal('6.3')

In [8]:
nums = [1.23e+18, 1, -1.23e+18]
sum(nums)

0.0

1 이 사라진다

In [10]:
import math
math.fsum(nums)

1.0

금융 데이터를 다룰때는 Decimal 을 사용한다.

# Formalization

In [12]:
x = 1234.5678

In [13]:
format(x, '0,.1f')

'1,234.6'

In [14]:
format(x, 'E')

'1.234568E+03'

'[<>^]?너비[,]?(.자릿수)?'

# binary octal hexadecimal

In [15]:
x = 12345
bin(x)
oct(x)
hex(x)

'0b11000000111001'

'0o30071'

'0x3039'

In [16]:
format(x, 'b')

'11000000111001'

In [17]:
format(2**32+x, 'b')

'100000000000000000011000000111001'

32bit

In [19]:
int('4d2', 16)
int('11000000111001', 2)

1234

12345

In [18]:
#os.chmod('ab.py', 0o755)

8 진법 사용

#  complex number

In [20]:
a = complex(2, 4)
b = 3-5j
a
b

(2+4j)

(3-5j)

In [21]:
a.real

2.0

실수

In [22]:
a.imag

4.0

허수

In [23]:
a.conjugate()

(2-4j)

켤레 복소수

In [25]:
import cmath
cmath.sin(a)
cmath.exp(a)

(24.83130584894638-11.356612711218173j)

(-4.829809383269385-5.5920560936409816j)

# infinity N NaN

In [26]:
a = float('inf')
b = float('-inf')
c = float('nan')
a
b
c

inf

-inf

nan

In [27]:
import math

In [28]:
math.isinf(a)
math.isnan(c)

True

True

In [29]:
a+b

nan

In [30]:
c + 23
c/2
c*2

nan

nan

nan

NaN 은 모든 연산자에 대해 예외를 발생하지 않는다.

In [31]:
d = float('nan')
c == d
c is d

False

False

NaN 끼리는 비교할 수 없다.

# Fractions

In [4]:
from fractions import Fraction
a = Fraction(5,4)
b = Fraction(7,16)
a+b
a*b

Fraction(27, 16)

Fraction(35, 64)

In [5]:
c = a * b
c.numerator #분자
c.denominator #분모

35

64

# numpy where

In [1]:
import numpy as np

In [3]:
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [5]:
np.where(a <10, a, 10)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 10, 10]])

# random

In [6]:
import random

In [24]:
values = list(range(0, 10))

In [25]:
random.choice(values)

5

In [29]:
random.sample(values, 3)

[1, 0, 3]

In [28]:
random.shuffle(values)
values

[8, 6, 5, 1, 2, 7, 0, 9, 4, 3]

In [30]:
random.randint(0,10)

5

In [31]:
random.random()

0.7601966658533363

0과 1사이의 부동소수점 생성

In [32]:
random.getrandbits(10)

351

N 비트로 표현된 정수 만들기

In [36]:
random.seed()
random.seed(123)

유니폼, 가우시안, 확률분포 관련 함수도 있음

------------------------

# Date to Time

In [38]:
from datetime import timedelta

In [40]:
a = timedelta(days=2, hours=6)
b = timedelta(hours=4.5)
c = a+b
c

datetime.timedelta(2, 37800)

In [41]:
c.days
c.seconds/3600
c.total_seconds()/3600

2

10.5

58.5

In [43]:
from datetime import datetime

In [46]:
a = datetime(2018, 2, 10)
print(a+timedelta(days=10))

2018-02-20 00:00:00

In [47]:
a = datetime(2012, 3, 1)
b = datetime(2012, 2, 28)
a-b

datetime.timedelta(2)

윤년을 인식한다.

In [48]:
a = datetime(2013, 3, 1)
b = datetime(2013, 2, 28)
a-b

datetime.timedelta(1)

In [49]:
from dateutil.relativedelta import relativedelta

시간대, 퍼지시계범위, 공휴일 계산등 dateutil 이용

In [50]:
a = datetime(2012, 9, 23)
a + timedelta(months=1)

TypeError: 'months' is an invalid keyword argument for this function

In [51]:
a + relativedelta(months=1)

datetime.datetime(2012, 10, 23, 0, 0)

In [54]:
b = datetime(2012, 12, 21)
d = relativedelta(b, a)
d.months
d.days

2

28

# Last Friday

In [55]:
from datetime import datetime, timedelta

In [56]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

def get_previous_byday(dayname, start_date=None):
    if start_date is None:
        start_date = datetime.today()
    day_num = start_date.weekday()
    day_num_target = weekdays.index(dayname)
    days_ago = (7 + day_num - day_num_target) % 7 
    if days_ago == 0:
        days_ago = 7
    target_date = start_date - timedelta(days=days_ago)
    return target_date

In [57]:
get_previous_byday('Sunday', datetime(2018, 6, 10))

datetime.datetime(2018, 6, 3, 0, 0)

In [58]:
from dateutile.relativedelta import relativedelta
from dateutile.rrule import *

ImportError: No module named 'dateutile'

python-dateutil

In [59]:
d = datetime.now()
# 다음 금요일
d + relativedelta(weekday=FR)
# 마지막 금요일 
d + relativedelta(weekday=-1)

NameError: name 'FR' is not defined

# range of date in this month

In [60]:
from datetime import datetime, date, timedelta 
import calendar

In [61]:
def get_month_range(start_date=None):
    if start_date is None:
        start_date = date.today().replace(day=1)
    # 주어진 달의 총 날짜 
    days_in_month = calendar.monthrange(start_date.year, start_date.month)[1]
    end_date = start_date + timedelta(days=days_in_month)
    return (start_date, end_date)

In [67]:
start_date = date.today().replace(day=1)
start_date # 그달의 1일 
days_in_month = calendar.monthrange(start_date.year, start_date.month)
days_in_month # (주수, 날짜)

datetime.date(2018, 6, 1)

(4, 30)

In [62]:
a_day = timedelta(days=10)
first_day, last_day = get_month_range()
while first_day < last_day:
    print(first_day)
    first_day += a_day

2018-06-01
2018-06-11
2018-06-21

In [68]:
def daterange(start, stop, step):
    while start < stop:
        yield start
        start += step

In [69]:
for d in daterange(date(2012, 8, 1), date(2012, 8, 11), timedelta(days=1)):
    print(d)

2012-08-01
2012-08-02
2012-08-03
2012-08-04
2012-08-05
2012-08-06
2012-08-07
2012-08-08
2012-08-09
2012-08-10

# String to datetime

In [71]:
from datetime import datetime
text = '2017-10-20'
a = datetime.strptime(text, '%Y-%m-%d')
b = datetime.now()
diff = b-a
diff

datetime.timedelta(236, 33422, 388913)

In [72]:
nice_b = datetime.strftime(b, '%A %B %d, %Y')
nice_b

'Wednesday June 13, 2018'

datetime 객체를 string 으로 변환 하기

In [73]:
from datetime import datetime
def parse_ymd(s):
    year_s, mon_s, day_s = s.split('-')
    return datetime(int(year_s), int(mon_s), int(day_s))

strptime 을 이용하면 시스템 설정과 같은 부분을 모두 처리하므로 실행속도가 느릴 수 있다.

# timezone

In [74]:
from datetime import datetime
from pytz import timezone

In [76]:
d = datetime(2018, 6, 13, 10, 10, 0)
central = timezone('US/Central')
loc_d = central.localize(d)
print(loc_d)

2018-06-13 10:10:00-05:00

현지화

In [78]:
bang_d = loc_d.astimezone(timezone('Asia/Kolkata'))
print(bang_d)

2018-06-13 20:40:00+05:30

In [79]:
from datetime import timedelta
later = central.normalize(loc_d + timedelta(minutes=30))
print(later)

2018-06-13 10:40:00-05:00

summertime 고려하기

In [80]:
print(loc_d)

2018-06-13 10:10:00-05:00

In [82]:
import pytz

utc_d = loc_d.astimezone(pytz.utc)
print(utc_d)

2018-06-13 15:10:00+00:00

UTC 사용하기

In [86]:
later_utc = utc_d + timedelta(minutes=30)
print(later_utc.astimezone(central))

2018-06-13 10:40:00-05:00

In [88]:
pytz.country_timezones['KR']

['Asia/Seoul']