In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Round

In [3]:
a = 1234567
round(a, -1)
round(a, -2)
round(a, -3)

1234570

1234600

1235000

# Decimal
* 정확한 10진수 계산

In [4]:
a = 4.2
b = 2.1
a + b
(a+b) == 6.3

6.300000000000001

False

In [5]:
from decimal import Decimal

In [7]:
a = Decimal('4.2')
b = Decimal('2.1')
a + b

Decimal('6.3')

In [8]:
nums = [1.23e+18, 1, -1.23e+18]
sum(nums)

0.0

1 이 사라진다

In [10]:
import math
math.fsum(nums)

1.0

금융 데이터를 다룰때는 Decimal 을 사용한다.

# Formalization

In [12]:
x = 1234.5678

In [13]:
format(x, '0,.1f')

'1,234.6'

In [14]:
format(x, 'E')

'1.234568E+03'

'[<>^]?너비[,]?(.자릿수)?'

# binary octal hexadecimal

In [15]:
x = 12345
bin(x)
oct(x)
hex(x)

'0b11000000111001'

'0o30071'

'0x3039'

In [16]:
format(x, 'b')

'11000000111001'

In [17]:
format(2**32+x, 'b')

'100000000000000000011000000111001'

32bit

In [19]:
int('4d2', 16)
int('11000000111001', 2)

1234

12345

In [18]:
#os.chmod('ab.py', 0o755)

8 진법 사용

#  complex number

In [20]:
a = complex(2, 4)
b = 3-5j
a
b

(2+4j)

(3-5j)

In [21]:
a.real

2.0

실수

In [22]:
a.imag

4.0

허수

In [23]:
a.conjugate()

(2-4j)

켤레 복소수

In [25]:
import cmath
cmath.sin(a)
cmath.exp(a)

(24.83130584894638-11.356612711218173j)

(-4.829809383269385-5.5920560936409816j)

# infinity N NaN

In [26]:
a = float('inf')
b = float('-inf')
c = float('nan')
a
b
c

inf

-inf

nan

In [27]:
import math

In [28]:
math.isinf(a)
math.isnan(c)

True

True

In [29]:
a+b

nan

In [30]:
c + 23
c/2
c*2

nan

nan

nan

NaN 은 모든 연산자에 대해 예외를 발생하지 않는다.

In [31]:
d = float('nan')
c == d
c is d

False

False

NaN 끼리는 비교할 수 없다.