In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Unpacking using *

In [2]:
record = ('ACME', 50, 123.45, (12, 14, 2018))

In [3]:
name, *_, (*_, year) = record
name
year

'ACME'

2018

# Deque
* keeping_the_last_n_items

In [4]:
from collections import deque

In [6]:
q = deque(maxlen=3)

In [7]:
q.append(1)
q.append(2)
q.append(3)
q

deque([1, 2, 3])

In [8]:
q.append(5)
q

deque([2, 3, 5])

# Heapq
* finding_the_largest_or_smallest_n_items

In [9]:
import heapq

In [10]:
nums = [1,2,4,2,56,7,-19, -3, 4, 555]
heapq.nlargest(3, nums)
heapq.nsmallest(3, nums)

[555, 56, 7]

[-19, -3, 1]

In [11]:
portfolio = [
   {'name': 'IBM', 'shares': 100, 'price': 91.1},
   {'name': 'AAPL', 'shares': 50, 'price': 543.22},
   {'name': 'FB', 'shares': 200, 'price': 21.09},
   {'name': 'HPQ', 'shares': 35, 'price': 31.75},
   {'name': 'YHOO', 'shares': 45, 'price': 16.35},
   {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [12]:
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s["price"])
cheap
expensive = heapq.nlargest(3, portfolio, key=lambda s: s["price"])
expensive

[{'name': 'YHOO', 'price': 16.35, 'shares': 45},
 {'name': 'FB', 'price': 21.09, 'shares': 200},
 {'name': 'HPQ', 'price': 31.75, 'shares': 35}]

[{'name': 'AAPL', 'price': 543.22, 'shares': 50},
 {'name': 'ACME', 'price': 115.65, 'shares': 75},
 {'name': 'IBM', 'price': 91.1, 'shares': 100}]

# Defaultdict 
* 딕셔너리의 키를 여러 값에 매핑하기

In [13]:
from collections import defaultdict

d = defaultdict(list)
#d={}
#d.setdefault('a', []).append(1)
#d.setdefault('a', []).append(2)
d['a'].append(1)
d['a'].append(2)
d

defaultdict(list, {'a': [1, 2]})

# Dictionarie Calculating
* calculating_with_dictionaries

In [14]:
prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

In [15]:
min_price = min(zip(prices.values(), prices.keys()))
max_price = max(zip(prices.values(), prices.keys()))
min_price
max_price

(10.75, 'FB')

(612.78, 'AAPL')

In [16]:
prices_and_names = zip(prices.values(), prices.keys())
min(prices_and_names)
max(prices_and_names)

(10.75, 'FB')

ValueError: max() arg is an empty sequence

zip() 은 단 한번만 소비할 수 있는 이터레이터를 생성한다.

# Dictionarie Set
* finding_out_what_two_dictionaries_have_in_common

In [17]:
a = {
   'x' : 1,
   'y' : 2,
   'z' : 3
}

b = {
   'w' : 10,
   'x' : 11,
   'y' : 2
}

In [18]:
a.keys() & b.keys()

{'x', 'y'}

In [19]:
a.keys() - b.keys()

{'z'}

In [20]:
a.items() & b.items()

{('y', 2)}

# Slice
* named slice

In [21]:
items = [0, 1, 2, 3, 4, 5, 6]

In [22]:
a = slice(2,4)
items[a]

[2, 3]

In [24]:
b = slice(2, 5, 2)
items[b]

[2, 4]

# Counter
* determine_the_top_n_items_occurring_in_a_list

In [25]:
words = [
   'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
   'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
   'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
   'my', 'eyes', "you're", 'under'
]

In [27]:
morewords = ['why','are','you','not','looking','in','my','eyes']

In [26]:
from collections import Counter

In [29]:
word_counts = Counter(words)
top_three = word_counts.most_common(3)
word_counts
top_three

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

[('eyes', 8), ('the', 5), ('look', 4)]

In [30]:
more_counts = Counter(morewords)
more_counts

Counter({'are': 1,
         'eyes': 1,
         'in': 1,
         'looking': 1,
         'my': 1,
         'not': 1,
         'why': 1,
         'you': 1})

In [32]:
c = word_counts + more_counts
c

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [33]:
d = word_counts - more_counts
d

Counter({'around': 2,
         "don't": 1,
         'eyes': 7,
         'into': 3,
         'look': 4,
         'my': 2,
         'the': 5,
         'under': 1,
         "you're": 1})

# Dictionaries Sorting
* sort_a_list_of_dictionaries_by_a_common_key

In [34]:
rows = [
    {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
    {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
    {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
    {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [35]:
from operator import itemgetter

In [36]:
rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))
rows_by_lfname

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

# Object Sorting
* sort_objects_without_native_comparison_support

In [37]:
from operator import attrgetter

class User:
    def __init__(self, user_id):
        self.user_id = user_id
    def __repr__(self):
        return 'User({})'.format(self.user_id)

In [38]:
users = [User(23), User(3), User(99)]
users

[User(23), User(3), User(99)]

In [39]:
sorted(users, key=attrgetter('user_id'))

[User(3), User(23), User(99)]

# Groupby 
* grouping-records-together-based-on-a-field

In [40]:
rows = [
    {'address': '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [41]:
from itertools import groupby
from collections import defaultdict

In [43]:
rows.sort(key=itemgetter('date'))
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print('    ', i)

07/01/2012
     {'date': '07/01/2012', 'address': '5412 N CLARK'}
     {'date': '07/01/2012', 'address': '4801 N BROADWAY'}
07/02/2012
     {'date': '07/02/2012', 'address': '5800 E 58TH'}
     {'date': '07/02/2012', 'address': '5645 N RAVENSWOOD'}
     {'date': '07/02/2012', 'address': '1060 W ADDISON'}
07/03/2012
     {'date': '07/03/2012', 'address': '2122 N CLARK'}
07/04/2012
     {'date': '07/04/2012', 'address': '5148 N CLARK'}
     {'date': '07/04/2012', 'address': '1039 W GRANVILLE'}

# List & Generator comprehension 
* filtering_list_elements

In [44]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

## list comprehension

In [45]:
pos = [n for n in mylist if n > 0]
pos

[1, 4, 10, 2, 3]

## generator comprehension

In [47]:
pos = (n for n in mylist if n > 0)
for x in pos:
    print(x)

1
4
10
2
3

## transposition

In [46]:
pos_clip = [n if n < 0 else 0 for n in mylist]
pos_clip

[0, 0, -5, 0, -7, 0, 0, -1]

## transposition using function

In [48]:
values = ['1','2', '-3', '-', '4', 'N/A', '5']

def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False

In [49]:
ivals = list(filter(is_int, values))
ivals

['1', '2', '-3', '4', '5']

## boolean selector

In [50]:
from itertools import compress

In [51]:
addresses = [
    '5412 N CLARK',
    '5148 N CLARK', 
    '5800 E 58TH',
    '2122 N CLARK',
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]

counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [52]:
more5 = [ n > 5 for n in counts ]
more5
a = list(compress(addresses, more5))
a

[False, False, True, False, False, True, True, False]

['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

# Dictionary comprehension
* extracting_a_subset_of_a_dictionary

In [53]:
prices = {
   'ACME': 45.23,
   'AAPL': 612.78,
   'IBM': 205.55,
   'HPQ': 37.20,
   'FB': 10.75
}

In [54]:
p1 = { key:value for key, value in prices.items() if value > 200}
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [55]:
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
p2

{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

# Named Tuple
* mapping_names_to_sequence_elements

In [56]:
from collections import namedtuple

In [59]:
Subscriber = namedtuple("Subscriber", ['addr', 'joined'])
Subscriber

__main__.Subscriber

In [60]:
sub = Subscriber('abc@abc.com', '2018-10-10')
sub
sub.addr
sub.joined

Subscriber(addr='abc@abc.com', joined='2018-10-10')

'abc@abc.com'

'2018-10-10'

In [62]:
len(sub)
addr, joined = sub
addr, joined

2

('abc@abc.com', '2018-10-10')

In [63]:
Stock = namedtuple('Stock', ['name', 'shares', 'price'])

In [64]:
s = Stock('ACME', 100, 123.55)
s.shares = 30

AttributeError: can't set attribute

namedtuble 은 수정되지 않는다.

In [65]:
s = s._replace(shares=30)
s

Stock(name='ACME', shares=30, price=123.55)

In [66]:
# 프로토타입 인스턴스 생성 
stock_prototype= Stock('', 0, 0.0)

In [67]:
# 딕셔너리를 Stock 으로 변환하는 함수 (**: dict 형)
def dict_to_stock(s):
    return stock_prototype._replace(**s)

In [68]:
a = {'name': 'BBB', 'shares': 100, 'price':123.11}
dict_to_stock(a)

Stock(name='BBB', shares=100, price=123.11)

# ChainMap 
* working_with_multiple_mappings_as_a_single_mapping

In [69]:
from collections import ChainMap

In [70]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

In [72]:
c = ChainMap(a,b)
c['z']

3

In [76]:
print('len(c):', len(c))
print('c.keys():', list(c.keys()))
print('c.values():', list(c.values()))

len(c): 3
c.keys(): ['z', 'y', 'x']
c.values(): [3, 2, 1]

In [73]:
# Example of stacking mappings (like scopes)
values = ChainMap()
values['x'] = 1

# Add a new mapping
values = values.new_child()
values['x'] = 2

# Add a new mapping
values = values.new_child()
values['x'] = 3

values

ChainMap({'x': 3}, {'x': 2}, {'x': 1})

In [74]:
values['x']

3

In [75]:
# Discard last mapping
values = values.parents
values['x']

2

In [79]:
# ChainMap 은 원본 딕셔너리를 참조 
merged = ChainMap(a, b)
merged['x']

1

In [80]:
a['x'] = 100
merged['x']

100